{%extends 'testpsychotechnique/nave_base.html'%}
{%load static%}
{%block main%}
<main>
    <section id="sec1">
    <div id="s1">
        <div class="scal">
            <div>
                <h1 class="number">1</h1>
            </div>
            <div class="block" >
                <h1 class="step" >step1</h1>
                <p>job description</p>
            </div>
        </div>
        
        <div class="scal">
            <div>
                <h1 class="number">2</h1>
            </div>
            <div class="block">
                <h1 class="step" >step2</h1>
                <p>MCQ</p>
            </div>
        </div>

        <div class="scal">
            <div>
                <h1 class="number">3</h1>
            </div>
            <div class="block">
                <h1 class="step" >step3</h1>
                <p>Interviewer Profile</p>
            </div>
        </div>
    </div>

    <div id="s2">
        <div class="block-s2" style="height: 20px;"></div>
        <div class="barre-s2"></div>
        <div class="block-s2" style="height: 80px;"></div>
        <div class="barre-s2"></div>
        <div class="block-s2" style="height: 80px;"></div>
        <div class="barre-s2"></div>
        <div class="block-s2" style="height: 20px;"></div>
    </div>
    </section>
    {%block content%}{%endblock%}
</main>
{%endblock%}